/* ================== Banner Common Style Part Start ================== */

.mubin-banner{
    @apply relative w-full bg-[url('/images/banner_bg.png')] bg-no-repeat bg-center bg-cover pt-[127px] md:pt-[126px] lg:pt-[211px]
} 

.mubin-bannerRow{
    @apply relative  flex flex-col gap-[55px] lg:gap-0 lg:flex-row justify-between 
}

/* ================== Banner Common Style Part End ================== */

/* ================== Banner info Part Start ================== */

.mubin-bannerInfo h2{
    @apply font-Montserrat font-bold text-[12px] md:text-lg lg:text-2xl text-brandColor 
}

.mubin-bannerInfo h1{
    @apply w-[278px] md:w-[414px] lg:w-[551px] font-Montserrat font-extrabold text-2xl md:text-4xl lg:text-5xl text-[#fff] my-5 md:my-10 lg:mt-10 lg:mb-[50px]
}

.mubin-bannerInfo h1 span{
    @apply text-brandColor block
}

.mubin-bannerInfo p{
    @apply w-[271px] md:w-[502px] lg:w-[610px] lg:font-Montserrat font-bold text-[14px] md:text-xl lg:text-2xl text-[rgba(255,255,255,0.70)] leading-normal
}

.buttons{
    @apply flex gap-5 mt-5 lg:mt-[50px]
}

.mubin-bannerInfo .buttons button {
    @apply py-[16.5px] md:py-5 px-[25px] bg-[rgba(196,196,196,0.)] border-2 rounded-[20px] font-Montserrat font-bold text-sm md:text-xl lg:text-2xl text-[#fff] duration-300
}

.buttons button:hover{
    @apply bg-brandColor text-[#fff] border-brandColor
}

/* ================== Banner info Part End ================== */

/* ================== Banner Image Part Start ================== */

.bannerImage{
    @apply relative w-[256px] md:w-[532px] m-auto lg:mr-[50px]
}

.bannerChild1{
    @apply absolute w-[50px] md:w-[100px] md:top-[-50px] top-[-25px] md:left-[-50px] left-[-25px] animate-[xschild1_8s_ease-in-out_infinite] md:animate-[child1_8s_ease-in-out_infinite] /* added keyframe animation */
}

.bannerChild2{
    @apply absolute w-[50px] md:w-[100px] md:bottom-[-50px] bottom-[-25px] md:right-[-50px] right-[-25px] animate-[xschild2_8s_ease-in-out_infinite] md:animate-[child2_8s_ease-in-out_infinite] /* added keyframe animation */
}

.bannerChild3{
    @apply w-[238px] md:w-[374px] absolute md:bottom-[-50px] bottom-[-25px] md:left-[-50px] left-[-25px]
}

/*  for banner child - 1 ainimation  */
@keyframes child1{
    0% {
        top: -50px;
        left: -50px;
    }
    25% {
        top: -50px;
        left: calc(100% - 50px); 
    }
    50% {
        top: calc(100% - 50px); 
        left: calc(100% - 50px);
    }
    75% {
        top: calc(100% - 50px); 
        left: -50px;
    }
    100% {
        top: -50px;
        left: -50px;
    }
}

/*  for extra small device banner child - 1 ainimation  */
@keyframes xschild1{
    0% {
        top: -25px;
        left: -25px;
    }
    25% {
        top: -25px;
        left: calc(100% - 25px); 
    }
    50% {
        top: calc(100% - 25px); 
        left: calc(100% - 25px);
    }
    75% {
        top: calc(100% - 25px); 
        left: -25px;
    }
    100% {
        top: -25px;
        left: -25px;
    }
}

/*  for banner child - 2 ainimation  */
@keyframes child2{
    0% {
        bottom: -50px;
        right: -50px;
    }
    25% {
        bottom: -50px;
        right: calc(100% - 50px); 
    }
    50% {
        bottom: calc(100% - 50px); 
        right: calc(100% - 50px);
    }
    75% {
        bottom: calc(100% - 50px); 
        right: -50px;
    }
    100% {
        bottom: -50px;
        right: -50px;
    }
}

/*  for extra small device banner child - 2 ainimation  */
@keyframes xschild2{
    0% {
        bottom: -25px;
        right: -25px;
    }
    25% {
        bottom: -25px;
        right: calc(100% - 25px); 
    }
    50% {
        bottom: calc(100% - 25px); 
        right: calc(100% - 25px);
    }
    75% {
        bottom: calc(100% - 25px); 
        right: -25px;
    }
    100% {
        bottom: -25px;
        right: -25px;
    }
}

/* ================== Banner Image Part End ================== */

/* ================== Schedule Part Start ================== */

.scheduleHead{
    @apply mt-14 flex gap-[10px] md:gap-5 items-center font-Montserrat font-bold text-[14px] md:text-2xl text-[#fff]
}

.scheduleIcon{
    @apply p-[5px] md:p-[10px] bg-[rgba(196,196,196,0.10)] text-brandColor text-4xl md:text-[50px] rounded-[10px]
}

.scheduleMainBG{
    @apply w-full h-[105%] bg-[rgba(196,196,196,0.05)] absolute bottom-0 left-0 rounded-t-[20px] pointer-events-none
}

.scheduleList{
    @apply mt-10 lg:mt-5 lg:w-full flex flex-wrap gap-[10px] md:gap-[50px] justify-between bg-[rgba(196,196,196,0.05)] p-[10px] pt-5 md:p-10 rounded-t-[20px] relative
}

.scheduleList button{
    @apply px-12 md:px-[89px] lg:px-[25px] py-[17px] md:py-5 bg-brandColor rounded-[20px] font-Montserrat font-bold text-[14px] md:text-xl lg:text-2xl text-[#fff] lg:ml-[69px] duration-200
}

.scheduleList button:hover{
    @apply bg-transparent ring 
}

/* ================== Schedule Part end ================== */

